@*@Model BananaSocialNetwork.Albums*@

@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}


<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>

<div class="middle_content min_width profile_bg">
    <div class="album">
        <form action="Create" method="post">
            @Html.Hidden("DateCreate", DateTime.Parse(DateTime.Now.ToString("d MMM yyyy")))
            <div>
                <label>Имя</label>
            </div>
            <div>
                @Html.TextBox("Name", "Введите имя")
            </div>

            <div>
                <label>Адресс</label>
            </div>
            <div>
                @Html.TextBox("Adress", "Введите адресс")
                <input type="button" value="Обозначить место на карте" onclick="codeAddress()">
            </div>
            <!--<div>
               <input id="address" type="textbox" value="Adress">

            </div> -->
            @Html.TextBox("GeoLong")  <!-- НУЖНО ПОМЕНЯТЬ .  НА  ,  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            @Html.TextBox("GeoLat")
            <!-- @Html.Hidden("GeoLat2")-->



            <div id="canvas" style="height: 600px; width:600px;">
                <!--Устанавливаем секцию scripts, которая затем будет рендериться на мастер-странице -->
                @section scripts {
                    GetMap();
                }
            </div>
            <p>
                <input type="submit" value="Create" />
            </p>
        </form>
    </div>

</div>


