@model BananaSocialNetwork.Models.Album

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View1</title>
</head>
<body>
    <div>
        <h4>Album</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Adress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Adress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GeoLong)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GeoLong)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GeoLat)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GeoLat)
            </dd>
    
        </dl>
    </div>

    @foreach (BananaSocialNetwork.Models.Photo photo in model.Photos)
    {
        
           <label>@photo.Name</label>
           
        
    }

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
