@model BananaSocialNetwork.Models.Album

@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}

@System.Web.Optimization.Scripts.Render("~/bundles/modal_dialogs")
<input type="hidden" value="@Model.Id" id="al_id"/>
<div class="middle_content min_width profile_bg">
    <div class="album">
        <div class="al_header">
            <p class="float_left al_name" id="album_name">@Model.Name</p>
            <div class="menu_div float_right">
                <div class="main-item" tabindex="1"><a href="javascript:void(0);">Settings</a></div>
                <ul class="sub-menu" style="width:150px;">
                    <li><a onclick="show_Add_Photo()"><i class="fa fa-plus fa-1x"></i>Add Photo</a></li>
                    <li><a onclick="show_Edit_Album()"><i class="fa fa-gear fa-1x"></i>Edit</a></li>
                    <li><a><i class="fa fa-trash fa-1x"></i>Delete</a></li>
                </ul>
            </div>
        </div>
        @if(@Model.Photos.Count() > 0)
        {
            <div class="display_block thumbs ">
            @foreach (BananaSocialNetwork.Models.Photo photo in Model.Photos)
            {
                <a href="@photo.PhotoPath"
                   style="background-image: url(@photo.PhotoPath);"
                   title=""
                   class="photo_content margin_10"
                   data-id="@photo.Id"></a>
            }
        </div>
        }
        else
        {
            <p style="text-align:center; margin-top:20px; font-size:13px; cursor:pointer;" 
               onclick="show_Add_Photo()">No photos. Please add new photos.</p>
        }
    </div> 
</div>