@model BananaSocialNetwork.Models.Album

@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}

@System.Web.Optimization.Scripts.Render("~/bundles/modal_dialogs")
<input type="hidden" value="@Model.Id" id="al_id"/>
<div class="middle_content min_width profile_bg">
    <div class="album">
        <div>
            <p class="float_left">@Model.Name</p>
            <p class="float_right" onclick="show_Add_Photo()">+ Add photo</p>
        </div>
        <div class="display_block thumbs ">
            @foreach (BananaSocialNetwork.Models.Photo photo in Model.Photos)
            {
                <a href="@photo.PhotoPath"
                   style="background-image: url(@photo.PhotoPath);"
                   title=""
                   class="photo_content margin_10"
                   data-id="@photo.Id"></a>
            }
        </div>
    </div>
    <a href='/Album/Edit/@Model.Id' class='btn btn-success btn-block'>Edit</a>
    
</div>