@model BananaSocialNetwork.Models.LoginViewModel

<!DOCTYPE html>

<html style="height:100%;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Network Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="height:100%; margin:0; padding:0;">
    <div style="height:100%;">
        <div style="background:#4b02a9; height:15%; width:100%; padding:0; margin:0;">
            <div style="float:left; width:60%; overflow:hidden">
                <h1 style="vertical-align:central; text-align:start; color:white; margin-left:8%;">Network</h1>
            </div>
            <div style="float:right; width:40%; vertical-align:central;">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-vertical", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <table>
                            <tr>
                                <td>@Html.LabelFor(m => m.Email)</td>
                                <td>@Html.LabelFor(m => m.Password)</td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </td>
                                <td><input type="submit" value="Войти" class="btn btn-default" /></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                        </table>
                    }
                    </section>
                </div>
            </div>       
        @RenderBody();
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
