@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <title>Registration</title>
    @System.Web.Optimization.Styles.Render("~/Content/css")

    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="container min_width">
                <div class="s_btn btn_bounds">
                    <a href="" class="top_btn_href "><i class="fi-mail" style="padding:40%"></i></a>
                </div>
                @*<div class="s_btn right_btn">
                        <a href="/Account/Login" class="top_btn_href login">Login</a>
                    </div>*@
            </div>
        </div>
        <div class="render_body container">
            @RenderBody()
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <p class="rights">Banana Social Network &copy; @DateTime.Now.Year</p>
        </div>
    </div>

    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
