@using Microsoft.AspNet.Identity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    @*<meta name="viewport" content="width=device-width" />*@
    <title>Registration</title>
    @System.Web.Optimization.Styles.Render("~/Content/css")
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="soc_container">
                <div class="display_block" style="width:auto; height:70px;">
                    <div class="s_btn  float_left" style="width:70px; height:70px;">
                        <a href="" class="top_btn_href "><i class="fa fa-envelope fa-1x" style="padding:40%"></i></a>
                    </div>
                    <div class="s_btn float_left" style="width:auto; height:70px;">
                        <ul id="nav">
                            <li style="height:70px;">
                                <a href="/Profile/Index" title="" class="display_block">
                                    <img style="height:50px; width:50px;" class="float_left" />
                                    <p class="float_left text">
                                        @User.Identity.GetUserName()
                                        <i class="fa fa-angle-double-down" style="margin-left:10px;"></i>
                                    </p>
                                </a>
                                <ul>
                                    <li><a href="/Profile/Edit"><i class="fa fa-cogs fa-1x margin_5"></i>Edit profile</a></li>
                                    <li>
                                        <form method="post" action="/Account/LogOff" id="logoutForm">
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                                <i class="fa fa-sign-out fa-1x margin_5"></i>Log off</a>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                
                @*<div class="s_btn right_btn">
                <a href="/Account/Login" class="top_btn_href login">Login</a>
            </div>*@
            </div>
        </div>
        <div class="render_body soc_container">
            @RenderBody()
        </div>
    </div>

    <div class="footer">
        <div class="soc_container">
            <p class="rights">Banana Social Network &copy; @DateTime.Now.Year</p>
        </div>
    </div>

    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")
    @System.Web.Optimization.Scripts.Render("~/bundles/photo_dialog")
    @System.Web.Optimization.Scripts.Render("~/bundles/google_map")
    @RenderSection("scripts", required: false)
</body>
</html>
