@using BananaSocialNetwork.Models
@model BananaSocialNetwork.Models.User

@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}

<div class="middle_content min_width profile_bg">
    <div class="edit_page">

        <div class="form-horizontal">

            <div class="display_block text-center" style="width:100%;">
                <div class="float_left width_50per">
                    <div class="div_header"><p class="text-center">Main</p></div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.RegistrationDate)
                        @Html.HiddenFor(model => model.PasswordHash)
                        @Html.HiddenFor(model => model.SecurityStamp)
                        @Html.HiddenFor(model => model.EmailConfirmed)
                        @Html.HiddenFor(model => model.Email)
                        @Html.HiddenFor(model => model.UserName)
                        @Html.HiddenFor(model => model.AvatatPath)

                        <div class="display_block content_label margin_10">
                            <div class="width_50per float_left">
                                <p>Firstname:</p>
                            </div>
                            <div class="width_50per float_right editor">
                                @Html.EditorFor(model => model.Firstname)
                            </div>
                        </div>
                        <div class="display_block content_label margin_10">
                            <div class="width_50per float_left">
                                <p>Surname:</p>
                            </div>
                            <div class="width_50per float_right editor">
                                @Html.EditorFor(model => model.Surname)
                            </div>
                        </div>
                        <div class="display_block content_label margin_10">
                            <div class="width_50per float_left">
                                <p>Age:</p>
                            </div>
                            <div class="width_50per float_right editor">
                                @Html.EditorFor(model => model.Age)
                            </div>
                        </div>
                        <div class="display_block content_label margin_10">
                            <div class="width_50per float_left">
                                <p>Gender:</p>
                            </div>
                            <div class="width_50per float_right editor">
                                @if (Model.Sex == Sexs.Male)
                                {
                                <p class="float_left" style="padding-right: 5px;">Male</p>
                                <input type="radio" name="Sex" value="Male" checked="checked" class="float_left" />
                                <p class="float_left" style="padding-left:15px; padding-right: 5px;">Female</p>
                                <input type="radio" name="Sex" value="Female" class="float_left" />
                                }
                                else
                                {
                                <p class="float_left" style="padding-right: 5px;">Male</p>
                                <input type="radio" name="Sex" value="Male" class="float_left" />
                                <p class="float_left" style="padding-left:15px; padding-right: 5px;">Female</p>
                                <input type="radio" name="Sex" value="Female" class="float_left" checked="checked" />
                                }
                            </div>
                        </div>
                        <div class="display_block content_label margin_10">
                            <div class="width_50per float_left">
                                <p>Adress:</p>
                            </div>
                            <div class="width_50per float_right editor">
                                @Html.EditorFor(model => model.Adress)
                            </div>
                        </div>
                        <div class="display_block content_label margin_10">
                            <div class="width_50per float_left">
                                <p>Phone number:</p>
                            </div>
                            <div class="width_50per float_right editor">
                                @Html.EditorFor(model => model.PhoneNumber)
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save profile" class="btn btn-default" />
                            </div>
                        </div>

                    }
                </div>
                <div class="float_right width_50per">
                    <div class="div_header"><p class="text-center">Avatar</p></div>
                    <div style="border-left: solid 1px #e1e0e0; width: 100%;">
                        <div class="edit_avatar">
                            <img src="@Model.AvatatPath" />
                        </div>
                        @using (Html.BeginForm("AddAvatar", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input accept="image/*" id="file" name="file" type="file" />

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Change avatar" class="btn btn-default" />
                                </div>
                            </div>
                            <div>
                                <p class="avatar_note">Note: Maximum display of avatar in main page 200x300 pixels.</p>
                            </div>
                        }
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>