@model BananaSocialNetwork.Models.User

@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}



<div class="middle_content min_width profile_bg">
    <div class="album">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @*<h4>User</h4>*@
                <hr />
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.RegistrationDate)


                <div class="form-group">
                    @Html.LabelFor(model => model.Firstname, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Firstname)
                        @Html.ValidationMessageFor(model => model.Firstname)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Surname, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Surname)
                        @Html.ValidationMessageFor(model => model.Surname)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Age, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Age)
                        @Html.ValidationMessageFor(model => model.Age)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Gender</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Sex)
                        @Html.ValidationMessageFor(model => model.Sex)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Adress, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Adress)
                        @Html.ValidationMessageFor(model => model.Adress)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AvatatPath, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AvatatPath)
                        @Html.ValidationMessageFor(model => model.AvatatPath)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PhoneNumber)
                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserName)
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>