@using System.Web.WebPages.Html;
@model BananaSocialNetwork.Models.User
@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}
@{
    ViewBag.Title = "Profile";
}
<div class="display_block middle_content profile_bg min_width">
    <div class="profile">
        <div class="float_left">
            <div class="first_column margin_10">
                <div class="avatar_form margin_10">
                    <div></div>
                    <div>
                        @Html.DisplayFor(model => model.Firstname)
                        @Html.DisplayFor(model => model.Surname)
                    </div>
                </div>

                <div class="status_form margin_10">
                    <div class="header_form"></div>
                </div>
            </div>
        </div>
        <div class="float_right margin_10">
            <div class="online_form margin_10"></div>
            <div class="display_block">
                <div class="float_left">
                    <div class="about_form margin_10">
                        <div class="header_form"></div>
                        <div><span>Age </span>@Html.DisplayFor(model => model.Age)</div>
                        <div><span>Gender </span>@Html.DisplayFor(model => model.Sex)</div>
                        <div><span>Lives in </span>@Html.DisplayFor(model => model.Adress)</div>
                    </div>
                </div>
                <div class="float_right">
                    <div class="friends_form margin_10">
                        <div class="header_form"></div>
                    </div>
                </div>
            </div>
            <div class="margin_10">
                <div class="tabbable" style="border:solid 1px #AAAAAA; background-color:white;">
                    <div class="header_form">
                        <a href="/Album/Create" class="margin_10 float_right">+ Create album</a>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Albums</a></li>
                        <li><a href="#tab2" data-toggle="tab">Photos</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active display_block" id="tab1">
                            @foreach (BananaSocialNetwork.Models.Album album in Model.Albums)
                            {
                                <div class="float_left margin_10">
                                    <div>
                                        <a href="/Album/Details/@album.Id">
                                            @if (album.CountPhotos <= 0)
                                            {
                                                <img src="/Content/img/empty-album.png" class="photo" />
                                            }
                                            else
                                            {
                                                <img src="@album.Adress" class="photo" />
                                            }
                                        </a>
                                    </div>
                                    <div class="photo_count"><span class="text">@album.CountPhotos</span></div>
                                </div>
                                <div>
                                    @*<label>имя: @album.Name</label>
                                    <label>адресс: @album.Adress</label>
                                    <label>GeoLat: @album.GeoLat</label>
                                    <label>GeoLong: @album.GeoLong</label>
                                    @Html.ActionLink("Details", "Details", new { id = album.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = album.Id })*@
                                </div>
                            }
                        </div>

                        <div class="tab-pane" id="tab2">
                            <p>Привет, я в Разделе 2.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
