@using System.Web.WebPages.Html;
@model BananaSocialNetwork.Models.User
@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}
@{
    ViewBag.Title = "Profile";
}

@System.Web.Optimization.Scripts.Render("~/bundles/modal_dialogs")

<div class="display_block middle_content profile_bg min_width">
    <div class="profile">
        <div class="float_left">
            <div class="first_column margin_10">
                <div class="avatar_form margin_10">
                    <div style="max-width:200px; max-height:300px; min-height:50px;">

                        <img style="background-image: url(@Model.AvatatPath)" src="@Model.AvatatPath" />
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Firstname)
                        @Html.DisplayFor(model => model.Surname)
                    </div>
                </div>

                <div class="status_form margin_10">
                    <div class="header_form"></div>
                </div>
            </div>
        </div>
        <div class="float_right margin_10">
            <div class="online_form margin_10"></div>
            <div class="display_block">
                <div class="float_left">
                    <div class="about_form margin_10">
                        <div class="header_form"></div>
                        <div><span>Age </span>@Html.DisplayFor(model => model.Age)</div>
                        <div><span>Gender </span>@Html.DisplayFor(model => model.Sex)</div>
                        <div><span>Lives in </span>@Html.DisplayFor(model => model.Adress)</div>
                    </div>
                </div>
                <div class="float_right">
                    <div class="friends_form margin_10">
                        <div class="header_form"><p>Friends</p></div>
                        <div>
                            @foreach (BananaSocialNetwork.Models.Friends friend in Model.Friends)
                            {
                                using (Html.BeginForm("Delete", "Profile", FormMethod.Get))
                                {
                                    <div>@friend.friend.UserName</div>
                                    <input type="hidden" value="@friend.friend.Id" name="id" />
                                    <input type="submit" value="Delete" />
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="margin_10" style="width:720px;">
                <div class="tabbable" style="border:solid 1px #AAAAAA; background-color:white;">
                    <div class="header_form">
                        <a class="margin_10 float_right" onclick="showModal_Add_Album()">+ Create album</a>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-folder fa-1x"></i></a></li>
                        <li><a href="#tab2" data-toggle="tab"><i class="fa fa-photo fa-1x"></i></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active display_block" id="tab1">
                            @foreach (BananaSocialNetwork.Models.Album album in Model.Albums)
                            {
                                <div class="float_left margin_10">
                                    <div>
                                        @if (album.Photos.Count() <= 0)
                                        {
                                            <a href="/Album/Details/@album.Id">
                                                <div class="photo"
                                                     style="background-image: url(/Content/img/empty-album.png); ">

                                                </div>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="/Album/Details/@album.Id">
                                                <div class="photo"
                                                     style="background-image: url(@album.Photos.Last().PhotoPath); ">

                                                </div>
                                            </a>
                                        }

                                    </div>
                                    <div class="photo_count display_block" style="width:100%;">
                                        @if (@album.Name.Length > 10)
                                        {
                                            string name = @album.Name.Substring(0, 10) + "...";
                                            <span class="text">@name</span>
                                        }
                                        else
                                        {
                                            <span class="text">@album.Name</span>
                                        }
                                        <div class="text-right float_right" style="margin-right:5px;">
                                            <i class="fa fa-picture-o text"></i><span class="text">@album.Photos.Count()</span>
                                        </div>
                                    </div>
                                </div>
                                <div></div>
                            }
                        </div>

                        <div class="tab-pane" id="tab2">
                            <div class="display_block thumbs ">
                                @foreach (BananaSocialNetwork.Models.Album album in Model.Albums)
                                {
                                    foreach (var photo in album.Photos)
                                    {
                                        <a href="@photo.PhotoPath" class="float_left margin_10" data-id="@photo.Id">
                                            <div class="photo float_left"
                                                 style="background-image: url(@photo.PhotoPath); ">
                                            </div>
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Index", "Search", FormMethod.Get))
    {

        <input type="submit" value="Search" />
    }
</div>
