@using BananaSocialNetwork.Models
@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}
@System.Web.Optimization.Scripts.Render("~/bundles/modal_dialogs")

<div class="middle_content">
    <div><p style=" padding:10px;" class="text-size-20 black_text bold_text">Administrator panel</p></div>

    <div class="news_placeholder" style="background-color: #efefef">
        @{
            ApplicationDbContext db = new ApplicationDbContext();
        }
        <div class="display_block" style="width:100%;">
            <div class="float_left width_50per">
                <div class="text-right">
                    <p class="black_text text-size-12 bold_text float_left margin_10">News</p>
                    <input type="button" class="btn margin_5 border_radius_0" value="All news" onclick="all_news()" /> 
                </div>
                <div class="all_news" id="news">
                    @{
                        <script type="text/javascript">
                            var arr = [];
                            var index = 0;
                        </script>
                        foreach (var news in db.News.ToList())
                        {

                            if (news.NewsType == NewsType.AddPhoto)
                            {
                                try
                                {
                                    Photo photo = db.Photos.ToList().Where(m => m.Id == news.IdContent).First();
                                    <div class="news_placeholder">
                                        <div>
                                            <div class="news_header">
                                                <div class="display_block">
                                                    <div class="float_left news_avatar" style="background-image: url(@news.User.AvatatPath)"></div>
                                                    <div class="float_right news_header_text">
                                                        <p>
                                                            <a href="/Profile/Index?userId=@news.User.Id" class="green_link">
                                                                @news.User.Firstname &nbsp;@news.User.Surname
                                                            </a>
                                                            add photo
                                                        </p>
                                                        <p class="text-size-10">@news.CreationTime</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="news_content">
                                                <img src="@photo.PhotoPath" />
                                            </div>
                                        </div>
                                    </div>
                                }
                                catch (Exception ex) { }
                            }
                            else if (news.NewsType == NewsType.AddAlbum)
                            {
                                try
                                {
                                    Album album = db.Albums.ToList().Where(m => m.Id == news.IdContent).First();
                                    <div class="news_placeholder">
                                        <div>
                                            <div class="news_header">
                                                <div class="display_block">
                                                    <div class="float_left news_avatar" style="background-image: url(@news.User.AvatatPath)"></div>
                                                    <div class="float_right news_header_text">
                                                        <p>@news.User.Firstname &nbsp;@news.User.Surname add album "@album.Name"</p>
                                                        <p class="text-size-10">@news.CreationTime</p>
                                                    </div>
                                                </div>
                                            </div>
                                            @if (album.GeoLat != 0 && album.GeoLong != 0)
                                            {
                                                <div class="news_content">
                                                    <div class="text-center"><p class="text-size-11">Position on map</p></div>
                                                    <div class="canvas_map" style="height: 350px; width:100%">
                                                    </div>
                                                </div>
                                                <script type="text/javascript">
                                                    //  alert("Индекс - 1" + index);
                                                    arr[index] = @album.GeoLong.ToString().Replace(',', '.');
                                                    index++;
                                                    //  alert("индекс - 2" + index);
                                                    arr[index] = @album.GeoLat.ToString().Replace(',', '.');
                                                    index++;

                                                </script>

                                            }
                                            else
                                            {
                                                <div> Альбом без точки на карте </div>
                                            }
                                        </div>
                                    </div>
                                    @section scripts {
                                        <script type="text/javascript">
                                            GetMapNews(arr);
                                        </script>
                                    }
                                }
                                catch (Exception ex) { }
                            }
                        }
                    }
                </div>
            </div>
            <div class="float_right width_50per">
                <div class="margin_10" style="height:32px;">
                    <input type="text" class="srh_size border_radius_0" style="width:245px; font-size:16px;" id="search_field" /><select class="srh_size border_radius_0" id="type_s">
                        <option>By name</option>
                        <option>By email</option>
                    </select><input type="button" value="Search" class="btn border_radius_0" onclick="find_user()" />
                    <input type="submit" value="Reset" class="btn border_radius_0" onclick="reset()" />
                </div>
                <div class="all_news">
                    <ul id="users" class="news_placeholder">
                        @{
                            <script>
                                all_users();
                            </script>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <hr style="border-color: #e1e0e0;" />
        <div class="display_block" style="width:100%;">
            <div class="float_left" style="width:30%;">
                <div class="text-right">
                    <p class="black_text text-size-12 bold_text float_left margin_10">Albums</p>
                    <input type="button" class="btn margin_5 border_radius_0" value="All albums" onclick="all_albums()" /> 
                </div>
                <div class="all_news" id="albums">
                    @{
                        <script>
                            all_albums();
                        </script>
                    }
                </div>
            </div>
            <div class="float_right" style="width: 70%;">
                <div class="text-right">
                    <p class="black_text text-size-12 bold_text float_left margin_10">Photos</p>
                    <input type="button" class="btn margin_5 border_radius_0" value="All photos" onclick="all_photos()" /> 
                </div>
                <div class="all_news" id="photos">
                    @{
                        <script>
                            all_photos();
                        </script>
                    }

                </div>
            </div>
        </div>
    </div>
</div>