@using BananaSocialNetwork.Models
@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}
@System.Web.Optimization.Scripts.Render("~/bundles/modal_dialogs")

<div class="middle_content">
    <div><p style=" padding:10px;" class="text-size-20 black_text bold_text">Administrator panel</p></div>

    <div class="news_placeholder" style="background-color: #efefef">
        @{
            ApplicationDbContext db = new ApplicationDbContext();
        }
        <div class="display_block" style="width:100%;">
            <div class="float_left width_50per">
                <div><p class="black_text text-size-12 bold_text">News</p></div>
                <div class="all_news" id="news">
                    @{
                        <script type="text/javascript">
                            var arr = [];
                            var index = 0;
                        </script>
                        foreach (var news in db.News.ToList())
                        {

                            if (news.NewsType == NewsType.AddPhoto)
                            {
                                try
                                {
                                    Photo photo = db.Photos.ToList().Where(m => m.Id == news.IdContent).First();
                                    <div class="news_placeholder">
                                        <div>
                                            <div class="news_header">
                                                <div class="display_block">
                                                    <div class="float_left news_avatar" style="background-image: url(@news.User.AvatatPath)"></div>
                                                    <div class="float_right news_header_text">
                                                        <p>
                                                            <a href="/Profile/Index?userId=@news.User.Id" class="green_link">
                                                                @news.User.Firstname &nbsp;@news.User.Surname
                                                            </a>
                                                            add photo
                                                        </p>
                                                        <p class="text-size-10">@news.CreationTime</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="news_content">
                                                <img src="@photo.PhotoPath" />
                                            </div>
                                        </div>
                                    </div>
                                }
                                catch (Exception ex) { }
                            }
                            else if (news.NewsType == NewsType.AddAlbum)
                            {
                                try
                                {
                                    Album album = db.Albums.ToList().Where(m => m.Id == news.IdContent).First();
                                    <div class="news_placeholder">
                                        <div>
                                            <div class="news_header">
                                                <div class="display_block">
                                                    <div class="float_left news_avatar" style="background-image: url(@news.User.AvatatPath)"></div>
                                                    <div class="float_right news_header_text">
                                                        <p>@news.User.Firstname &nbsp;@news.User.Surname add album "@album.Name"</p>
                                                        <p class="text-size-10">@news.CreationTime</p>
                                                    </div>
                                                </div>
                                            </div>
                                            @if (album.GeoLat != 0 && album.GeoLong != 0)
                                            {
                                                <div class="news_content">
                                                    <div class="text-center"><p class="text-size-11">Position on map</p></div>
                                                    <div class="canvas_map" style="height: 350px; width:100%">
                                                    </div>
                                                </div>
                                                <script type="text/javascript">
                                                    //  alert("Индекс - 1" + index);
                                                    arr[index] = @album.GeoLong.ToString().Replace(',', '.');
                                                    index++;
                                                    //  alert("индекс - 2" + index);
                                                    arr[index] = @album.GeoLat.ToString().Replace(',', '.');
                                                    index++;

                                                </script>

                                            }
                                            else
                                            {
                                                <div> Альбом без точки на карте </div>
                                            }
                                        </div>
                                    </div>
                                    @section scripts {
                                        <script type="text/javascript">
                                            GetMapNews(arr);
                                        </script>
                                    }
                                }
                                catch (Exception ex) { }
                            }
                        }
                    }
                </div>
            </div>
            <div class="float_right width_50per">
                <div class="margin_10" style="height:32px;">
                    <input type="text" class="srh_size border_radius_0" style="width:245px; font-size:16px;" id="search_field" /><select class="srh_size border_radius_0" id="type_s">
                        <option>By name</option>
                        <option>By email</option>
                    </select><input type="button" value="Search" class="btn border_radius_0" onclick="find_user()" />
                    <input type="submit" value="Reset" class="btn border_radius_0" onclick="location.reload()" />
                </div>
                <div class="all_news">
                    <ul id="users" class="news_placeholder">
                        @{
                            foreach (var user in db.Users.ToList())
                            {
                                <li>
                                    <div class="news_header friend_block" style="border-bottom: solid 1px #e4e3e3;" onclick="set_user_info('@user.Id')">
                                        <div class="display_block" style="width:100%;">
                                            <a href="~/Profile/Index?userId=@user.Id" class="float_left">
                                                <div class="news_avatar" style="background-image: url(@user.AvatatPath)"></div>
                                            </a>
                                            <div class="float_right" style="width:87%;">
                                                <div class="display_block" style="width:100%;">
                                                    <div class="float_left width_50per">
                                                        <p>
                                                            <a href="~/Profile/Index?userId=@user.Id"
                                                               class="sh_fr_name bold_text">@user.Firstname&nbsp;@user.Surname</a>
                                                        </p>
                                                    </div>
                                                    <div class="float_right sh_fr_btn_cont">
                                                            @*<i class="fa fa-plus-square-o"></i>*@
                                                            <i class="fa fa-close"></i>
                                                        
                                                        @*<p class="sh_fr_btn"><a class="sh_fr_btn">Show friends</a></p>
                                                               <p class="sh_fr_btn">
                                                               <a class="sh_fr_btn" href="Delete?id=@user.Id">Delete</a>
                                                            </p>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <hr style="border-color: #e1e0e0;" />
        <div class="display_block" style="width:100%;">
            <div class="float_left" style="width:30%;">
                <div><p class="black_text text-size-12 bold_text">Albums</p></div>
                <div class="all_news" id="albums">
                    @{
                        int index = 0;
                        foreach (var album in db.Albums.ToList())
                        {
                            <div class="news_placeholder">
                                <div class="display_block news_header">
                                    <div class="news_avatar float_left" style="background-image:url(@album.User.AvatatPath)"></div>
                                    <div class="float_left margin_5" style="width:150px" id="album_@index">
                                        @*<p class="text-size-12 bold_text">@album.Name</p>*@
                                        
                                        <script type="text/javascript">
                                            var p = $("<p>");
                                            p.text("@album.Name");
                                            $("#album_@index").append(p);
                                        </script>
                                    </div>
                                    <div class="float_right cur_poiter" onclick="show_Edit_Album(@album.Id)"><i class="fa fa-pencil"></i></div>
                                    <div class="float_right cur_poiter"><i class="fa fa-close"></i></div>
                                </div>
                                <div>
                                    <p class="text-size-10">Creation date: <span class="bold_text">@album.DateCreate</span></p>
                                    <p class="text-size-10">Album owner: <span class="bold_text">@album.User.Firstname&nbsp;@album.User.Surname</span></p>
                                </div>
                            </div>
                            index++;
                        }
                    }
                </div>
            </div>
            <div class="float_right" style="width: 70%;">
                <div><p class="black_text text-size-12 bold_text">Photos</p></div>
                <div class="all_news" id="photos">
                    @{
                        foreach (var photo in db.Photos.ToList())
                        {
                            <div class="news_placeholder">
                                <div>
                                    <i class="fa fa-close float_right margin_5"></i>
                                    <i class="fa fa-edit float_right margin_5 cur_poiter" onclick="show_Edit_Photo(@photo.Id)"></i>
                                    <i class="fa fa-map-marker float_right margin_5 cur_poiter" onclick="show_Photo_in_map(@photo.Id)"></i>
                                </div>
                                <div class="display_block" style="width:100%; height: 200px;">
                                    <div class="float_left width_50per">
                                        <img src="@photo.PhotoPath" style="max-width:100%" />
                                    </div>
                                    <div class="float_right width_50per" style="height: 100%;">
                                        <div class="scroll-x" style="height: 100%">
                                            @foreach (var comment in db.Comments.ToList().Where(m => m.Photo.Id == photo.Id))
                                            {
                                                <div class="display_block comment_block">
                                                    <div class="float_left news_header">
                                                        <div class="float_left">
                                                            <div class="news_avatar margin_5" style="background-image:url(@comment.User.AvatatPath)"></div>
                                                        </div>
                                                        <div class="float_left margin_5">
                                                            <p class="text-size-10 bold_text line_height_5">@comment.User.Firstname&nbsp;@comment.User.Surname</p>
                                                            <p class="text-size-10 bold_text line_height_5">@comment.DateCreate</p>
                                                            <p class="text-size-10 line_height_5">@comment.Text</p>
                                                        </div>
                                                    </div>
                                                    <div class="float_right"></div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>