@model object
@using BananaSocialNetwork.Models
@{
    Layout = null;
    ApplicationDbContext db = new ApplicationDbContext();
}
@{
    <script type="text/javascript">
        var arr = [];
        var index = 0;
    </script>
    foreach (var news in (Model as List<BananaSocialNetwork.Models.News>))
    {
        @*<script type="text/javascript">
            index++;
        </script>*@
        if (news.NewsType == NewsType.AddPhoto)
        {
            try
            {
                Photo photo = db.Photos.ToList().Where(m => m.Id == news.IdContent).First();
                <div class="news_placeholder">
                    <div>
                        <div class="news_header">
                            <div class="display_block">
                                <div class="float_left news_avatar" style="background-image: url(@news.User.AvatatPath)"></div>
                                <div class="float_right news_header_text">
                                    <p>
                                        <a href="/Profile/Index?userId=@news.User.Id" class="green_link">
                                            @news.User.Firstname &nbsp;@news.User.Surname
                                        </a>
                                        add photo
                                    </p>
                                    <p class="text-size-10">@news.CreationTime</p>
                                </div>
                            </div>
                        </div>
                        <div class="news_content">
                            <img src="@photo.PhotoPath" />
                        </div>
                    </div>
                </div>
            }
            catch (Exception ex) { }
        }
        else if (news.NewsType == NewsType.AddAlbum)
        {
            try
            {
               
                Album album = db.Albums.ToList().Where(m => m.Id == news.IdContent).First();
                
                <div class="news_placeholder">
                    <div>
                        <div class="news_header">
                            <div class="display_block">
                                <div class="float_left news_avatar" style="background-image: url(@news.User.AvatatPath)"></div>
                                <div class="float_right news_header_text">
                                    <p>@news.User.Firstname &nbsp;@news.User.Surname add album "@album.Name"</p>
                                    <p class="text-size-10">@news.CreationTime</p>
                                </div>
                            </div>
                        </div>
                        @if (album.GeoLat != 0 && album.GeoLong != 0)
                        {
                            <div class="news_content">
                                <div class="text-center"><p class="text-size-11">Position on map</p></div>
                                <div id="canvas" class="canvas_map" style="height: 350px; width:100%">
                                </div>
                            </div>
                            <script type="text/javascript">
                                         //  alert("Индекс - 1" + index);
                                           arr[index] = @album.GeoLong.ToString().Replace(',', '.');
                                           index++;
                                         //  alert("индекс - 2" + index);
                                           arr[index] = @album.GeoLat.ToString().Replace(',', '.');
                                           index++;

                            </script>

                        }
                        else
                        {
                            <div> Альбом без точки на карте </div>
                        }
                    </div>
                </div>

                <script type="text/javascript">
                    GetMapNews(arr);
                </script>

            }
            catch (Exception ex) { }
        }
    }
}