@model BananaSocialNetwork.Models.Photo
@{
    Layout = null;
}

@foreach (BananaSocialNetwork.Models.Comment comment in Model.Coments)
{
    string id_div = "com_" + comment.Id;
    <div id="@id_div" class="comment">
        <div class="display_block">
            <div class="float_left mess_field">
                <div class="mess_avatar" style="background-image: url(@comment.User.AvatatPath)"></div>
                <div style="display:inline-block; vertical-align:top; width: 380px;">
                    <div style="margin-top:10px;">
                        <p style="font-weight:bold;" class="dark_green_text">@comment.User.Email</p>
                    </div>
                    <div style="padding-top:5px;">
                        <p style="font-size:13px;">@comment.Text</p>
                    </div>
                </div>
            </div>
            @if (User.Identity.Name.Equals(comment.User.UserName) || User.IsInRole("admin"))
            {
                <div class="float_right del">
                    <a onclick="del_comment(@comment.Id, @id_div)" class="dark_green_text">
                        <i class="fa fa-close fa-1x"></i>
                    </a>
                </div>
            }

        </div>
    </div>
}

