@using BananaSocialNetwork.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Login.cshtml";
}
@{
    ViewBag.Title = "Log in";
}
@*
    @Html.ActionLink("Register as a new user", "Register")
    @Html.ActionLink("Forgot your password?", "ForgotPassword")
*@
@Styles.Render("~/Content/bgslider_css")
@*@Scripts.Render("~/bundles/bgslider_script")*@

<ul class="cb-slideshow">
    <li><span>Image 01</span></li>
    <li><span>Image 02</span></li>
    <li><span>Image 03</span></li>
    <li><span>Image 04</span></li>
</ul>
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="container middle_content min_width " style="border:none">
        <div class="display_block">
            <div class="width_50per float_left" style="margin-top:120px;">
                <p class="bigger_text white_text">Welcome to Banana Social Network</p>
                <p class="middle_text white_text">Keep in touch with friends and other wonderful people. Get instant updates pictures of your friends.</p>
            </div>

            <div class="width_50per float_right" style="margin-top: 60px;">
                <div class="enter_form">
                    <div class="header_form"><p class="header_text">Authorization</p></div>
                    <div class="margin_10">@Html.ValidationSummary(true, "")</div>
                    <div class="margin_10">@Html.ValidationMessageFor(m => m.Email, "")</div>
                    <div class="margin_10">@Html.TextBoxFor(m => m.Email, new { @placeholder = "Example@mail.com" })</div>
                    <div class="margin_10">@Html.ValidationMessageFor(m => m.Password, "")</div>
                    <div class="margin_10">@Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })</div>
                    <div class="margin_10">@Html.CheckBoxFor(m => m.RememberMe)<span class="remember_text">Remember me?</span></div>
                    <div class="margin_10"><input type="submit" value="Login" class="s_btn" /></div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}