@model BananaSocialNetwork.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_Register.cshtml";
}
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="container middle_content min_width">
        <div class="reg_form" style="margin-top:60px;">
            <div class="header_form"><p class="header_text">Registration</p></div>
            <div class="display_block" style="width:100%">
                <div class="width_50per float_left">
                    <div class="margin_10">
                        <div class="header_small"><p class="header_text_small">Email</p></div>
                        <div>@Html.TextBoxFor(m => m.Email, new { @placeholder = "Example@mail.com" })</div>
                    </div>
                    <div class="margin_10">
                        <div class="header_small"><p class="header_text_small">Password</p></div>
                        <div>@Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })</div>
                    </div>
                    <div class="margin_10">
                        <div class="header_small"><p class="header_text_small">Confirm Password</p></div>
                        <div>@Html.TextBoxFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password" })</div>
                    </div>
                </div>
                <div class="width_50per float_right">
                    <div class="margin_10 validation_conteiner">
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "validation_text" })
                    </div>
                    <div class="margin_10 validation_conteiner">
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "validation_text" })
                    </div>
                    <div class="margin_10 validation_conteiner">
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "validation_text" })
                    </div>
                </div>
            </div>
            <div class="display_block" style="width:100%;">
                <div class="width_50per float_left">
                    <div class="margin_10">
                        <input type="submit" value="Singup" class="s_btn" />
                    </div>
                </div>
                <div class="width_50per float_right">
                    <div class="margin_10">
                        <p class="note">
                            Note: your friends can find you by name or email. Your e-mail address will be hidden from other users. You can change the settings at any time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }